.services {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #F6F8F7;    
    width: 100%;
    padding: 50px 0;
}

.services h2 {
    margin-bottom: 36px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
}

@media(max-width: 601px) {
    .cards {
        gap: 15px;
        grid-template-columns: repeat(2, auto);
    }
}

@media(max-width: 381px) {
    .cards {

        grid-template-columns: repeat(2, auto);
    }
}